/* Firefox Version 130.0 Custom CSS for vertical tabs */
* {
  scrollbar-width: none !important;
  --custom-tab-width: 185px; /* custom-bar-width  minus  2*custom-bar-padding */
  --custom-bar-hover-width: 205px;
  --custom-bar-padding: 10px;
  --left-side: 0; /* Swap with --right-side value to put the bar on the right side */
  --right-side: auto;
  --left-margin: 56px; /* swap with --right-margin to offset the browser content correctly when using a right sidebar */
  --right-margin: auto;
}
/* Container width tabs and browser-content (i.e. the site/page) */
#browser {
  position: relative;
}
#navigator-toolbox {
  border-bottom: 0.5px solid rgba(80,80,80, 0.2) !important;
}
/* The sidebar containing the tabs */
#sidebar-main {
  position: absolute;
  top: 0;
  left: var(--left-side);
  right: var(--right-side);
  height: 100%;
  z-index: 9999;
}
/* The browser-content */
#tabbrowser-tabbox {
  margin-left: var(--left-margin) !important;
  margin-right: var(--right-margin) !important;
  width: fit-content;
  height: 100%;
  outline: none !important;
}
[inFullscreen] #tabbrowser-tabbox {
  margin-left: 0 !important;
}
/* expand the required containers on-hover */
#vertical-tabs:hover #sidebar-main, #vertical-tabs:hover #tabbrowser-tabs, #vertical-tabs:hover, #vertical-tabs:hover .toolbarbutton-1 {
  width: var(--custom-bar-hover-width) !important;
}
/* on hover correct width for tab background */
#vertical-tabs:hover .tab-background {
  width: var(--custom-tab-width) !important;
}
/* correct widths for hover background and tabs itself */
.tab-content, .tab-background {
  margin: 2px var(--custom-bar-padding) !important;
  padding-inline: 0 var(--custom-bar-padding) !important;
  cursor: pointer;
}
.tab-icon-image, .tab-label-container {
  padding-left: var(--custom-bar-padding) !important;
}
/* display close button and site title on hover of sidebar */
#vertical-tabs:hover .tab-label-container, #vertical-tabs:hover .tab-close-button, #vertical-tabs:hover .toolbarbutton-text {
  display: unset !important;
}
/* Fix text/label/site title offset */
.tab-label-container {
  padding: 5px;
  cursor: pointer;
}
/* put new tab button at bottom */
#tabs-newtab-button {
  cursor: pointer;
}
/* Nice red on-hover effect for close icon */
.close-icon:hover {
  fill: red !important;
  background-color: transparent !important;
  padding: 5px !important;
}




/* macOS specific styles */
@media (-moz-gtk-csd-available),
(-moz-mac-big-sur-theme: 0),
(-moz-mac-big-sur-theme: 1),
(-moz-platform: macos) {
  #TabsToolbar:not([customizing="true"]) {
    visibility: collapse !important;
  }

  #urlbar-background {
    border-radius: 8px;
  }

  #toolbar-menubar {
    padding-top: 0 !important;
  }

  #TabsToolbar {
    visibility: collapse !important;
  }

  #nav-bar {
    padding: 0 0 0 86px !important;
  }

  #nav-bar-customization-target {
    padding-left: 10px;
  }

  #TabsToolbar .titlebar-buttonbox-container {
    visibility: visible !important;
    position: absolute;
    top: 0; /* 12px */
    left: 0;
  }

  [inFullscreen] #TabsToolbar .titlebar-buttonbox-container {
    visibility: hidden !important;
  }

  .titlebar-buttonbox-container {
    display: block;
  }

  .titlebar-button > .toolbarbutton-icon {
    height: 13px !important;
    min-height: 13px !important;
    width: 13px !important;
    min-width: 13px !important;
  }

  .titlebar-button {
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-top: 6px !important;
  }

  .titlebar-placeholder[type="pre-tabs"] {
    width: 120px !important;
  }

  .titlebar-buttonbox-container {
    -moz-box-ordinal-group: 0;
  }
}

/* Linux specific styles */
@media (-moz-platform: linux) {
  #nav-bar {
    padding: 0 0 0 0 !important;
  }

  #nav-bar-customization-target {
    padding-left: 0;
  }

  #TabsToolbar .titlebar-buttonbox-container {
    visibility: hidden !important;
  }
}

/* Windows specific styles */
@media (-moz-platform: windows),
(-moz-platform: windows-win7),
(-moz-os-version: windows-win7),
(-moz-os-version: windows-win8),
(-moz-os-version: windows-win10) {
  /* Fix title bar location */
  #titlebar {
    z-index: 999 !important;
  }

  /* Right side padding */
  #nav-bar {
    padding: 0 115px 0 0 !important;
  }

  /* Hide unix close/min/max buttons */
  #TabsToolbar .titlebar-buttonbox-container {
    visibility: hidden !important;
  }

  /* Show windows nav buttons close/min/max buttons */
  #toolbar-menubar .titlebar-buttonbox-container {
    visibility: visible !important;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999 !important;
  }

  /* padding fix */
  #nav-bar-customization-target {
    padding-left: 0 !important;
  }

  /* trying to clean buttons to match others */
  .titlebar-button {
    margin: 0 !important;
    padding: 13px !important;
  }
}
