/* Firefox Version 135.0 Custom CSS for vertical tabs */
* {
  scrollbar-width: none !important;
  --custom-tab-width: 226px; /* custom-bar-width  minus  2*custom-bar-padding */
}

/* The sidebar containing the tabs */
#sidebar-main {
  position: absolute !important;
  height: 100%; /* The height is set to ensure the sidebar will also use it */
  z-index: 9999;
}
/* Hides the sidebar when in fullscreen */
[inFullscreen] #sidebar-main {
  display: none !important;
}
/* The browser-content */
#tabbrowser-tabbox {
  margin-left: 0 !important;
  margin-right: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}
/* The sidebar when enabled */
#tabbrowser-tabbox[sidebar-shown] {
  margin-left: var(--tab-collapsed-width) !important;
}
/* Hides the sidebar when in fullscreen video */
[inFullscreen] #tabbrowser-tabbox[sidebar-shown] {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* When not hovering cancel the default crap behavior of the expanded feature */
#sidebar-main:not(:hover), #sidebar-main:not(:hover) .tabbrowser-tab, #sidebar-main:not(:hover) #vertical-tabs-newtab-button {
  width: var(--tab-collapsed-width) !important;
  min-width: 0 !important;
}
/* Use the new crappy expanded shit to add the sidebar background when expanded */
.expanded-button, *[expanded] {
  background: var(--sidebar-background-color);
}
/* on hover correct width for tab background */
#vertical-tabs:hover .tab-background {
  width: var(--custom-tab-width) !important;
}
/* display close button and site title on hover of sidebar */
#sidebar-main:hover .tab-label-container, #sidebar-main:hover .tab-close-button, #sidebar-main:hover .toolbarbutton-text {
  display: unset !important;
}
/* Use the pointer cursor for everything in the sidebar */
#sidebar-main > * {
  cursor: pointer !important;
}
/* Nice red on-hover effect for close icon */
.close-icon:hover {
  fill: red !important;
  background-color: transparent !important;
  padding: 5px !important;
}
/* Sidebar extensions */
#sidebar-box {
  z-index: 100 !important;
  position: absolute !important;
  height: 100% !important;
  margin-left: var(--tab-collapsed-width);
  width: var(--custom-tab-width);
}
#sidebar-box #sidebar {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}




/* macOS specific styles */
@media (-moz-gtk-csd-available),
(-moz-mac-big-sur-theme: 0),
(-moz-mac-big-sur-theme: 1),
(-moz-platform: macos) {
  #TabsToolbar:not([customizing="true"]) {
    visibility: collapse !important;
  }

  #urlbar-background {
    border-radius: 8px;
  }

  #toolbar-menubar {
    padding-top: 0 !important;
  }

  #TabsToolbar {
    visibility: collapse !important;
  }

  #nav-bar {
    padding: 0 0 0 86px !important;
  }

  #nav-bar-customization-target {
    padding-left: 10px;
  }

  #TabsToolbar .titlebar-buttonbox-container {
    visibility: visible !important;
    position: absolute;
    top: 0; /* 12px */
    left: 0;
  }

  [inFullscreen] #TabsToolbar .titlebar-buttonbox-container {
    visibility: hidden !important;
  }

  .titlebar-buttonbox-container {
    display: block;
  }

  .titlebar-button > .toolbarbutton-icon {
    height: 13px !important;
    min-height: 13px !important;
    width: 13px !important;
    min-width: 13px !important;
  }

  .titlebar-button {
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-top: 6px !important;
  }

  .titlebar-placeholder[type="pre-tabs"] {
    width: 120px !important;
  }

  .titlebar-buttonbox-container {
    -moz-box-ordinal-group: 0;
  }
}

/* Linux specific styles */
@media (-moz-platform: linux) {
  #nav-bar {
    padding: 0 0 0 0 !important;
  }

  #nav-bar-customization-target {
    padding-left: 0;
  }

  #TabsToolbar .titlebar-buttonbox-container {
    visibility: hidden !important;
  }
  /* fix for sidebar color on linux */
  #sidebar-main {
    background: var(--sidebar-background-color)
  }
}

/* Windows specific styles */
@media (-moz-platform: windows),
(-moz-platform: windows-win7),
(-moz-os-version: windows-win7),
(-moz-os-version: windows-win8),
(-moz-os-version: windows-win10) {
  /* Fix title bar location */
  #titlebar {
    z-index: 999 !important;
  }

  /* Right side padding */
  #nav-bar {
    padding: 0 0 0 0 !important;
  }

  /* Hide unix close/min/max buttons */
  #TabsToolbar .titlebar-buttonbox-container {
    visibility: hidden !important;
  }

  /* Show windows nav buttons close/min/max buttons */
  #toolbar-menubar .titlebar-buttonbox-container {
    visibility: visible !important;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999 !important;
  }

  /* padding fix */
  #nav-bar-customization-target {
    padding-left: 0 !important;
  }

  /* trying to clean buttons to match others */
  .titlebar-button {
    margin: 0 !important;
    padding: 13px !important;
  }
}
